  @import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400&display=swap");

/* reset page */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* global */
body {
  font-family: "Inter", sans-serif, "Times New Roman", Times, serif;
  color: #172b4d;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  width: 100vw;
}

* a {
  text-decoration: none;
}

* li {
  list-style-type: none;
}

.abs {
  position: absolute;
}

.bottom_0 {
  bottom: 0;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  background-color: transparent;
  border: transparent;
  cursor: pointer;
}

.expand {
  border: 1px solid #dfe1e6;
  border-radius: 50%;
}

/* header  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.toolbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 48px;
  background-color: #fff;
  z-index: 10;
}

.logo_placeholder {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: start;
}

.logo {
  font-weight: 600;
  padding: 10px 24px;
  color: #28352f;
}

.menu {
  margin-right: 24px;
}

/* headline section */
.headline {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 726px;
  position: relative;
  top: 48px;
  padding: 6px 24px;
}

.background {
  background-image: url("../back-img/header-illsutration-mobile@2x.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-origin: padding-box;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
}

h2 {
  font-size: 40px;
  font-weight: bold;
  line-height: 52px;
  color: #36b37e;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.social:hover {
  transform: scale(1.5); /*150%*/
}

/* work & about section */
.recent_work {
  top: -110px;
}

.about {
  top: -64px;
}

.section {
  padding-top: 64px;
  margin: 0 auto;
  width: 100%;
}

.indicator {
  margin: 2px;
  background-image: url("../back-img/Indicator.png");
  background-repeat: no-repeat;
  background-position: center;
}

.work_cards {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  grid-row-gap: 24px;
  margin: 0 auto;
  margin-top: 56px;
  margin-bottom: 64px;
  width: 88%;
  align-items: center;
}

.card {
  height: 474px;
  background-color: #ebf0ee;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

.card_img {
  height: 100%;
  width: 100%;
}

.card_details {
  height: 222px;
  background-color: #fff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.recent_work h1 {
  padding: 0 24px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
}

.card_details h1 {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3a4a42;
}

.card_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
  border-radius: 4px;
}

.tags {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
}

.tag_btn {
  padding: 8px 12px;
  background-color: #ebf0ee;
}

.tag_txt {
  color: #3a4a42;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.act_btn {
  padding: 12px;
  background-color: #36b37f;
}

.act_txt {
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.info {
  height: 333px;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.about .info h1 {
  padding: 0 24px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
}

.about .info p {
  line-height: 32px;
}

button {
  color: white;
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  border: none;
  background-color: #36b37f;
}

button:hover {
  border: none;
  box-shadow: 0 8px 16px rgba(54, 179, 127, 0.24);
  padding: 12px 24px;
  border-radius: 4px;
  font-size: 16px;
  background-color: #36b37f;
  color: #fff;
}

.card_exp {
  height: 222px;
  background-color: #ebf0ee;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
}

._btn {
  padding: 8px 12px;
  background-color: #ebf0ee;
}

.exp_btn {
  padding: 8px 12px;
  background-color: #fff;
}

.lang {
  color: #3a4a42;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.frame {
  color: #36b37e;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.text_btn {
  padding: 12px;
  background-color: #36b37e;
}

.text {
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.resume_text {
  color: #fff;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
}

.about_info {
  height: 333px;
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.button_circle {
  border: 1px solid #dfe1e6;
  border-radius: 50%;
}

.title_about {
  padding: 0 24px;
  font-size: 40px;
  font-weight: 700;
  line-height: 32px;
}

.title_detail {
  font-weight: 600;
  font-size: 40px;
  line-height: 32px;
  color: #3a4a42;
}

.title_works {
  padding: 0 24px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
}

.exp_main {
  position: static;
  width: 337px;
  height: 32px;
  left: -5px;
  top: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px 0;
}

.card_img1 {
  width: 370px;
  height: 200px;
  background-image: url("../img/icon-languages.svg");
  background-repeat: no-repeat;
  margin-left: 34%;
}

.card_img2 {
  width: 370px;
  height: 200px;
  background-image: url("../img/frameworks-icon2.svg");
  background-repeat: no-repeat;
  margin: auto;
}

.card_img3 {
  width: 370px;
  height: 200px;
  background-image: url("../img/skills-icon.svg");
  background-repeat: no-repeat;
  margin: auto;
}

.contact_me {
  height: 363px;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  margin: 24px 0;
}

input[type="text"],
input[type="email"],
textarea {
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  position: static;
  width: 327px;
  height: 48px;
  background: #fff;
  border: 1px solid #172b4d;
  box-sizing: border-box;
  border-radius: 4px;
  margin-bottom: 10px;
}

input[type="submit"] {
  align-items: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  position: static;
  width: 129px;
  height: 48px;
  background: #36b37f;
  color: #fff;
  border-radius: 4px;
  border: none;
  margin: 24px 0;
  transition: background-color 1s, color 0.5s;
}

input[type="submit"]:focus {
  background-color: #008552;
}

input[type="submit"]:hover {
  background-color: #008552;
  color: #36b37f;
}

.ma_mail {
  height: 50px;
  font-family: inherit;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

#subject {
  height: 114px;
  width: 327px;
  border: 1px solid #60c095;
  box-sizing: border-box;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar-list {
  display: none;
}

.divide {
  display: none;
}

.contact_me:hover {
  transform: translate(8px, 12px);
}

.socials {
  display: table;
  margin-left: -160px;
}

.socials:hover {
  transform: rotate(350deg);
}

.social2 {
  min-width: 696px;
  list-style: none;
}

.social2 li {
  display: inline;
}
